@font-face {
  font-family: 'HankenGrotesk';
  src: url('/src/assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype'),
       url('/src/assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype'),
       url('/src/assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype'),
       url('/src/assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype') 
}

:root {
  font-family: 'HankenGrotesk', Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}